body {
    background-color: lightsteelblue;
    background-image: url("../img/welcome-background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

header {
    background-color: black;
    opacity: .8;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1, h2, h3 {
    color: orange;
    text-decoration: underline;
}

ol {
    list-style: none;
    counter-reset: item;
}

ol > li{
    counter-increment: item;
    margin-bottom: 5px;
}

ol > li:before {
    margin-right: 10px;
    content: counter(item);
    background: orange;
    border-radius: 100%;
    color: darkblue;
    width: 1.3em;
    text-align: center;
    display: inline-block;
}

ul {
    list-style-type: none;
}

ul li {
    background-image: url('../img/bullets.png');
    background-repeat: no-repeat;
    background-size: 16px;
    height: 14px;
    padding-left: 20px;
    padding-top: 3px;
}

img {
    height: 350px;
    width: 400px;
}

table {
    width: 35rem;
    border: orange solid;
    background-color: white;
    opacity: .8;
    color: black;
}

table tr,th {
    font-size: large;
    text-align: left;
}

table th {
    background-color: orange;
}

table td {
    padding: 5px 20px 5px 10px; /* padding shorthand (top, right, bottom, left) */
}

a {
    font-family: "Helvetica";
    text-decoration: none;
    text-transform: uppercase;
}

a:link {
    color: lightcoral;
}

a:visited {
    color: yellowgreen;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: darkred;
}

.fancy-header {
    text-align: center;
    text-decoration: none;
}

.fancy-header h1 {
    text-decoration: none;
}